1. 네이버 지도 음식점 검색
2. 필터 검색

In [2]:
import pandas as pd
import numpy as np
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains

In [33]:
# 검색어 입력 받아 검색하는 함수
def n_search(input_):
    # 크롬 드라이버 설정
    option = webdriver.ChromeOptions()
    option.add_argument('--start-maximized')
    driver = webdriver.Chrome('C:/Users/min/chromedriver.exe', options=option)
    action = ActionChains(driver)
    driver.get('https://map.naver.com/v5/')
    sleep(3)
    # 검색어 입력
    query = driver.find_element(By.CSS_SELECTOR,'#container > shrinkable-layout > div > app-base > search-input-box > div > div.search_box > div > input')
    query.send_keys(input_)
    query.send_keys(Keys.ENTER)
    sleep(5)
    # 음식점 정보
    restaurant_info = []
    # 메뉴 정보
    info_ = {}
    # 음식점 클릭을 위한 변수
    idx_1 = 1
    idx_3 = 0
    while True:
        try:
            # 새로운 프레임으로 변경
            driver.switch_to.default_content()
            element = driver.find_element(By.ID,"searchIframe")
            driver.switch_to.frame(element)
            sleep(2)
            # 음식점 클릭
            # 10 번째 음식점 이후로 태그 위치 변경됨
            if idx_3 == 0:
                driver.find_element(By.XPATH, f'//*[@id="_pcmap_list_scroll_container"]/ul/li[{idx_1}]/div[1]/a/div/div/span[1]').click()
                sleep(2)
                name = driver.find_element(By.XPATH, f'//*[@id="_pcmap_list_scroll_container"]/ul/li[{idx_1}]/div[1]/a/div/div/span[1]').text
            else:
                driver.find_element(By.XPATH, f'//*[@id="_pcmap_list_scroll_container"]/ul/div[{idx_3}]/li[{idx_1}]/div[1]/a/div/div/span[1]').click()
                sleep(2)
                name = driver.find_element(By.XPATH, f'//*[@id="_pcmap_list_scroll_container"]/ul/div[{idx_3}]/li[{idx_1}]/div[1]/a/div/div/span[1]').text
            # 새로운 프레임으로 변경
            driver.switch_to.default_content()
            element2 = driver.find_element(By.ID, "entryIframe")
            driver.switch_to.frame(element2)
            sleep(2)
            # 음식점 정보 추출
            try:
                star = driver.find_element(By.XPATH, '//*[@id="app-root"]/div/div/div/div[2]/div[1]/div[2]/span[1]/em').text
            except:
                star = np.nan
            category = driver.find_element(By.XPATH, '//*[@id="_title"]/span[2]').text
            location = driver.find_element(By.XPATH, '//*[@class="IH7VW"]').text
            # 메뉴 클릭
            try:
                driver.find_element(By.XPATH, '//span[contains(text(), "메뉴")]').click()
            except:
                idx_1 += 1
                continue
            sleep(3)
            idx_2 = 1
            info = []
            plus_price = 0
            menu_count = 0
            # 메뉴 정보 추출
            while True:
                try:
                    menu = driver.find_element(By.XPATH, f'//*[@class="ZUYk_"]/li[{idx_2}]//*[@class="Sqg65"]').text
                    price = driver.find_element(By.XPATH, f'//*[@class="ZUYk_"]/li[{idx_2}]//*[@class="SSaNE"]').text
                    plus_price += int(price.replace('원', '').replace(',', ''))
                    menu_count += 1
                    info.append([menu, price])
                    idx_2 += 1
                except:
                    try:
                        driver.find_element(By.XPATH, f'//*[@id="app-root"]/div/div/div/div[7]/div/div[1]/div[2]/a').click()
                        sleep(2)
                    except:
                        try:
                            avg_price = int(plus_price/menu_count)
                            restaurant_info.append([name, category, location, star, avg_price])
                        except:
                            pass
                        idx_1 +=1
                        break
                info_[name] = info
        except:
            idx_3 += 1
            # 더이상 음식점이 없을 때 break
            try:
                action.move_to_element(driver.find_element(By.XPATH, f'//*[@id="_pcmap_list_scroll_container"]/ul/div[{idx_3}]')).perform()
            except:
                break
            idx_1 = 1
            sleep(3)
    driver.quit()
    # 데이터 프레임화
    restaurant_table = pd.DataFrame(restaurant_info, columns=['가게이름', '카테고리', '위치', '별점', '평균가'])
    restaurant_table['별점'] = restaurant_table['별점'].astype(float)
    table = pd.DataFrame(columns=['가게이름', '메뉴', '가격'])
    for name in info_.keys():
        for i in range(0,len(info_[name])):
            table = table.append({'가게이름': name, '메뉴': info_[name][i][0], '가격': info_[name][i][1]},ignore_index=True,)
    # csv 파일로 저장
    restaurant_table.to_csv(f'C:\\Users\\min\\{input_}.csv', index=False)
    table.to_csv(f'C:\\Users\\min\\{input_}_restaurant.csv', index=False)
    return table, restaurant_table

In [32]:
# 필터 검색 함수
def r_filter(r, r_info, category='', star=0, price_low=0, price_high=99999999):
    """
    r = 음식점 메뉴 정보
    r_info = 음식점 정보
    category = 음식 종류
    star = 최소 별점
    price_low = 음식점 평균가 최소값
    price_low = 음식점 평균가 최대값
    """
    search_table = pd.DataFrame(columns=['가게이름', '메뉴', '가격'])
    for info in r_info.values:
        if category in info[1] and star <= info[3] and price_low <= info[4] and price_high >= info[4]:
            search_table = search_table.append(r[r['가게이름'] == info[0]])
    return search_table

In [4]:
# 안산 맛집 검색
ansan_r, ansan_r_info = n_search('안산맛집')

C:\Users\min\AppData\Local\Temp/ipykernel_13656/3024976343.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Users/min/chromedriver.exe', options=option)

In [25]:
# 안산 맛집 정보
ansan_r_info

,가게이름,카테고리,위치,별점,평균가
0,금화전복,전복요리,경기 안산시 단원구 다리간1길 16,4.34,37454
1,부드럽소,소고기구이,경기 안산시 단원구 광덕서로 78 대한법조,4.72,52333
2,금화전복,전복요리,경기 안산시 단원구 다리간1길 16,4.34,37454
3,조순금닭도리탕,닭요리,경기 안산시 상록구 본삼로 39 6층,4.38,26285
4,제주삼육돈 고잔점,돼지고기구이,경기 안산시 단원구 광덕2로 155-16 1층,4.59,31000
5,11호남도할머니칼국수,"칼국수,만두",경기 안산시 단원구 대선로 11 11호남도할머니칼국수,4.42,31142
6,카페루헤,"카페,디저트",경기 안산시 단원구 서위매봉길 32 카페루헤,4.48,7477
7,아리화,"육류,고기요리",경기 안산시 단원구 광덕서로 62 2층,4.28,15845
8,멘야하나비 안산점,일본식라면,경기 안산시 단원구 광덕대로 174 월드타운 B동 1층 111호,NaN,11222
9,롱텀,베이커리,경기 안산시 단원구 이삭2길 41 1층 롱텀베이커리,NaN,1500
10,달래해장 안산선부점,한식,경기 안산시 단원구 선부광장1로 14 광원빌딩 108호~110호,NaN,21857
11,16호원조할머니칼국수,"칼국수,만두",경기 안산시 단원구 대선로 10,4.44,19000
12,발리다,"카페,디저트","경기 안산시 단원구 구봉타운길 57 1층, 2층",4.37,7737
13,힘센장어,"장어,먹장어요리",경기 안산시 단원구 대부황금로 975 1층,4.81,50000
14,늘포레,"카페,디저트",경기 안산시 단원구 작은상재미길 8,NaN,7575
15,갯벌팰리스,조개요리,"경기 안산시 상록구 샘골로 152 우주빌딩 106호,107호,108호",4.81,66777
16,대부도맛집풍경,한식,경기 안산시 단원구 사청터길 3 대부도맛집풍경,NaN,33750
17,안산국보만두,샤브샤브,경기 안산시 단원구 광덕서로 62 101동 102호,4.68,10000
18,빈솔트,"카페,디저트",경기 안산시 단원구 구봉타운길 45,4.65,6636
19,고향길장터순대,"순대,순댓국",경기 안산시 단원구 다리간로 8,4.50,17166
20,37.5 안산중앙점,브런치,경기 안산시 상록구 송호1길 23 다솔빌딩 1층,NaN,16523
21,강경불고기 안산본오점,"육류,고기요리","경기 안산시 상록구 샘골로 127 101, 105호",NaN,11866
22,대부 DBB,햄버거,경기 안산시 단원구 구봉길 59,NaN,10066
23,인더비엣,베트남음식,경기 안산시 단원구 광덕대로 174 월드타운D동 137~139호 인더비엣,4.48,23617
24,스틸리,"카페,디저트",경기 안산시 상록구 이동공원로 45 1층 101호,NaN,4583
25,빈체로파스타 안산점,"스파게티,파스타전문",경기 안산시 단원구 당곡로 11,4.44,12311
26,명동칼국수,"칼국수,만두",경기 안산시 단원구 구봉길 20,NaN,13250
27,포크너 신도시점,이탈리아음식,경기 안산시 단원구 광덕대로 168 신화타운 101호,4.51,18125
28,리베르테,"카페,디저트",경기 안산시 단원구 대선로 27,4.38,6913
29,부드럽소,소고기구이,경기 안산시 단원구 광덕서로 78 대한법조,4.72,52333
30,뽁식당 고잔점,양식,경기 안산시 단원구 광덕대로 151,4.73,18333
31,피자플리즈,피자,경기 안산시 단원구 사근여길 6-12 피자플리즈,4.36,19735
32,할머니소머리국밥&속초코다리냉면,국밥,경기 안산시 단원구 대부황금로 848,4.29,18333
33,용용선생 안산고잔점,요리주점,경기 안산시 단원구 광덕3로 167 신영프라자 1층 107호,NaN,12681
34,대부객주,한식,경기 안산시 단원구 구봉타운길 36,4.32,19000
35,도깨비왕감자탕,감자탕,경기 안산시 상록구 양지편로 28,4.31,20842
36,정든집,쌈밥,경기 안산시 상록구 남산평길 119,4.50,17000
37,세광양대창 안산점,"곱창,막창,양",경기 안산시 단원구 광덕2로 185-8 1층,4.43,19000
38,포도밭할머니손칼국수,"칼국수,만두",경기 안산시 단원구 대부황금로 1394,4.28,15833
39,남기남부대찌개 안산고잔점,"찌개,전골",경기 안산시 단원구 광덕대로 197,4.56,16857
40,유니스의 정원,양식,경기 안산시 상록구 반월천북길 139,4.27,55720
41,24시맵돈,한식,경기 안산시 단원구 고잔1길 53,4.55,9566
42,카츠혼칸,돈가스,경기 안산시 단원구 광덕대로 162 113호,4.44,13000
43,카페유일,"카페,디저트",경기 안산시 단원구 꽃우물1길 16-4,4.41,5900
44,시골순대,"순대,순댓국",경기 안산시 상록구 용신로 351 대아상가,4.35,16166

In [24]:
# 안산 맛집 메뉴 정보
ansan_r

     가게이름            메뉴       가격
0    금화전복     전복삼합구이(중)  63,000원
1    금화전복      전복갈비찜(중)  65,000원
2    금화전복     전복삼합구이(대)  83,000원
3    금화전복      전복갈비찜(대)  85,000원
4    금화전복  황태구이정식(점심특선)  13,000원
..    ...           ...      ...
520  시골순대            술국  11,000원
521  시골순대       곱창만(내장)  11,000원
522  시골순대          순대국밥  10,000원
523  시골순대       오소리머리국밥  10,000원
524  시골순대        내장머리국밥  10,000원

[525 rows x 3 columns]

In [39]:
# 안산 맛집 중 양식, 별점 4점 이상, 평균가 10000원 이상인 곳 메뉴
r_filter(ansan_r, ansan_r_info, '양식', 4, 10000)

        가게이름                           메뉴        가격
349  뽁식당 고잔점                       이불덮은 밥    6,000원
350  뽁식당 고잔점                       봉골레파스타   14,000원
351  뽁식당 고잔점                       토봉이파스타   15,000원
352  뽁식당 고잔점                      오감베로파스타   14,000원
353  뽁식당 고잔점                        만조파스타   15,000원
354  뽁식당 고잔점                      담백로제파스타   14,000원
355  뽁식당 고잔점                        빠네파스타   16,000원
356  뽁식당 고잔점                       쌈싸먹는피자   20,000원
357  뽁식당 고잔점                     머쉬룸크림리조또   14,000원
358  뽁식당 고잔점                        로제리조또   14,000원
359  뽁식당 고잔점                       비프스테이크   29,000원
360  뽁식당 고잔점                    이베리코 프렌치렉   23,000원
361  뽁식당 고잔점                     리코타치즈샐러드    8,000원
362  뽁식당 고잔점                      오리엔탈감바스   18,000원
363  뽁식당 고잔점                   뽁식당 추천 SET   55,000원
474  유니스의 정원   오스틴 바비큐 (네가지 바비큐의 2인용 플래터)   48,500원
475  유니스의 정원  록하트 바비큐 (다섯가지 바비큐의 3인용 플래터)   63,500원
476  유니스의 정원                소갈비 스테이크(2인용)   79,900원
477  유니스의 정원             토마호크 스테이크(1.5kg)  229,900원
478  유니스의 정원               버섯크림소스 파케리(건면)   18,900원
479  유니스의 정원                    까르보나라(생면)   19,900원
480  유니스의 정원             화이트 라구 딸리아뗄레(생면)   23,900원
481  유니스의 정원           수제 베이컨 아마트리치아나(생면)   22,900원
482  유니스의 정원                 부라타 뽀모도로(생면)   24,900원
483  유니스의 정원                     보타르가(건면)   24,900원

In [22]:
# 강남 맛집 검색
gangnam_r, gangnam_r_info = n_search('강남맛집')

C:\Users\min\AppData\Local\Temp/ipykernel_13656/3026656498.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Users/min/chromedriver.exe', options=option)

In [26]:
# 강남 맛집 정보
gangnam_r_info

,가게이름,카테고리,위치,별점,평균가
0,고래불 역삼본점,생선회,서울 강남구 논현로79길 62 백악빌딩 1층 고래불,4.45,110000
1,강남진해장,한식,서울 강남구 테헤란로5길 11,4.34,33555
2,대우부대찌개 강남본점,"찌개,전골",서울 강남구 테헤란로25길 34,4.42,27000
3,런던 베이글 뮤지엄 도산점,베이커리,"서울 강남구 언주로168길 33 1, 2층",NaN,5260
4,꽁티드툴레아,브런치,서울 강남구 도산대로49길 39,NaN,12357
5,땀땀,베트남음식,서울 강남구 강남대로98길 12-5,4.39,12500
6,중앙실비,"곱창,막창,양",서울 강남구 학동로 342 SK허브 1층,NaN,20500
7,이끼롤까스 가로수길점,돈가스,서울 강남구 강남대로156길 35,4.52,13200
8,노티드 청담,카페,서울 강남구 도산대로53길 15 1층,4.44,3500
9,소스윗예스,퓨전음식,서울 강남구 강남대로162길 27-16 1층,NaN,12631
10,중앙해장,해장국,서울 강남구 영동대로86길 17 육인빌딩,4.42,34090
11,울프강 스테이크하우스,"스테이크,립",서울 강남구 선릉로152길 21,4.50,198333
12,까폼,태국음식,서울 강남구 선릉로153길 18 지하1층,4.52,14100
13,삼백호집 신논현점,"육류,고기요리",서울 강남구 봉은사로1길 27 1층,NaN,16437
14,육개옥,한식,서울 강남구 봉은사로 167,NaN,33833
15,SADDLER HAUS,와플,서울 강남구 도산대로17길 10 B1 새들러하우스,4.55,17700
16,후추포인트,양식,서울 강남구 봉은사로6길 30 1층,NaN,17714
17,농민백암순대 본점,"순대,순댓국",서울 강남구 선릉로86길 40-4,4.51,16142
18,미미면가 본점,일식당,서울 강남구 강남대로160길 29,4.28,14400
19,을지다락 강남,양식,서울 강남구 강남대로96길 22 2층,4.53,13412
20,피플더테라스,양식,서울 강남구 도산대로81길 13,4.56,48363
21,부베트,프랑스음식,서울 강남구 논현로 854 안다즈 서울 강남 상업시설 건물 1층,NaN,23000
22,추카페 서울,"카페,디저트",서울 강남구 압구정로 459 1층,NaN,14500
23,부타이 1막,일식당,서울 강남구 테헤란로88길 22,4.48,15055
24,밀각 대치직영점,"족발,보쌈",서울 강남구 선릉로64길 24 지상1층,NaN,20000
25,신동궁감자탕 역삼본점,감자탕,서울 강남구 테헤란로10길 21,4.30,27588
26,마일스톤 커피,카페,서울 강남구 논현로159길 49,4.63,5537
27,테라스룸,양식,서울 강남구 선릉로152길 37 올리브빌딩 테라스룸,4.30,23000
28,허머스키친,아시아음식,서울 강남구 테헤란로 521 파르나스몰 지하 1층 F-26호,4.46,16722
29,대막,일식당,"서울 강남구 압구정로46길 75 , 1층",4.43,18727
30,스케줄청담,양식,서울 강남구 선릉로152길 37 1층,NaN,25828
31,텍사스데브라질 압구정점,"스테이크,립",서울 강남구 논현로 854 안다즈 호텔 지하 1층,4.34,60500
32,김천재의육회반한연어 신논현본점,요리주점,서울 강남구 강남대로118길 47 2층,4.54,29063
33,쮸즈,"딤섬,중식만두",서울 강남구 도산대로17길 13,4.37,7812
34,우와,일식당,서울 강남구 강남대로158길 17 1층,4.50,14954
35,진미평양냉면,냉면,서울 강남구 학동로 305-3,4.31,26625
36,뱃고동,낙지요리,서울 강남구 언주로172길 54,4.28,18156
37,구구당,퓨전음식,서울 강남구 강남대로102길 35 구구당,4.51,19013
38,알베르,카페,서울 강남구 강남대로102길 34,4.37,7333
39,달마시안,양식,서울 강남구 압구정로42길 42,NaN,20425

In [23]:
# 강남 맛집 메뉴 정보
gangnam_r

         가게이름          메뉴        가격
0    고래불 역삼본점        바다바람  125,000원
1    고래불 역삼본점        바다풍경   95,000원
2       강남진해장      양선지해장국   11,000원
3       강남진해장        곱창전골   62,000원
4       강남진해장       양지내장탕   14,000원
..        ...         ...       ...
561      달마시안  달마시안 한줄떡볶이   19,000원
562      달마시안       피쉬앤칩스   22,000원
563      달마시안        드립커피    6,000원
564      달마시안    생 초콜릿 라떼    8,000원
565      달마시안    생바닐라빈 라떼    8,000원

[566 rows x 3 columns]

In [29]:
# 강남 맛집 중 별점 4점 이상, 평균가 20000원 이상, 40000원 이하인 곳 메뉴
r_filter(gangnam_r, gangnam_r_info, star = 4, price_low = 20000, price_high = 40000)

       가게이름       메뉴       가격
2     강남진해장   양선지해장국  11,000원
3     강남진해장     곱창전골  62,000원
4     강남진해장    양지내장탕  14,000원
5     강남진해장     사골곰탕  11,000원
6     강남진해장     양지곰탕  11,000원
..      ...      ...      ...
485  진미평양냉면    냉면곱빼기  18,000원
486  진미평양냉면      만두반   7,000원
487  진미평양냉면   어복쟁반 대  90,000원
488  진미평양냉면       냉면  14,000원
489  진미평양냉면  쟁반고기 추가  50,000원

[117 rows x 3 columns]